<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="kh.spring.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="kh.spring.dto.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="kh.spring.dto.FilesDTO" alias="FilesDTO"/>
	</typeAliases>
</configuration>